.foodguideBanner{
    background-image: url("../../../public/chefs2.png");
        width: 3177px;
        height: 1781px;
        object-fit: contain;
        text-align: center;
        margin-left: 50px;
        /* position: absolute; */
}
.vegetable{
    width: 200px;
    height: 200px;
    background-color: #342679;
    border-radius: 50%;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
   
    
    /* position: absolute; */
    

}
.vegImg {
    display: block;
    margin-left: auto;
        margin-right: auto;
   
    /* border: 1px solid red; */
}
.foodGuideContainer{
    width: 90%;
    margin: auto;
    padding-top: 8%;
}
.foodGuideDiv{
    padding-top: 100px;
    width: 200px;
    margin: auto;
    
}
.vegetableDiv{
    margin-top: 30px;
            margin-left: -280px;
            font-size: 50px;
}
.vegetablePara{
    margin-left: -200px;
            color: black;
            font-weight: 700;
            margin-top: 20px;
}