.variety1{
    object-fit: contain;
    width: 2811.73px;
    height: 1250.66px;
    background-image: url("../../../public/variety1.png");
    border-radius: 2%;
    position: relative;
float: left;
}
.para{
    background-color: #53396B;
    opacity: 0.8;
    /* margin-top: 60%; */
    /* position: fixed; */
    /* width: 1460.73px; */
    /* bottom: 570px; */
    /* margin-top: 830px; */
    padding-left: 50px;
    padding-bottom: 20px;
    border-radius: 2%;
    position: absolute;
        bottom: 0;
        left: 0;
}
.explore{
    padding: 25px;
    border: 1px solid white;
    border-radius: 40px;
    width: 200px;
    text-align: center;
    color: white;
    margin-top: 50px;
    font-size: 30px;
    margin-bottom: 100px;
    display: flex;
}
.mainDiv{
    width: 3177px;
    display: flex;
    margin-bottom: 50px;
    margin-left: 50px;
}
.pizzaHeading{
    font-size: 50px;
     color: white;
      padding-top: 50px;
}
.pizzaPara{
    color: white;
    font-size: 30px; 
    padding-top: 20px;
}